<div class="main">
    <div class="header">
        <div class="branding-area">
            <div class="container">
                <div class="row">
                    <div class="col-md">
                        <div class="logo">
                            <h2>OpenCS</h2>
                        </div>
                    </div>
                    <div class="col-md-8 header-col-right">
                        <div class="header-group">
                            <div class="dropdown">
                                <button class="btn btn-theme dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Language
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">English</a>
                                    <a class="dropdown-item" href="#">Íslenska</a>
                                    <a class="dropdown-item" href="#">Norsk</a>
                                    <a class="dropdown-item" href="#">Macedonian</a>
                                    <a class="dropdown-item" href="#">Portugese</a>
                                </div>
                            </div>
                            <div class="button">
                                <a href="/cart" class="btn btn-theme">View cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-area">
            <nav class="navbar navbar-expand-lg navbar-dark bg-theme">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link active" href="index.html">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Store
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="all.html">Browse all</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Minecraft</a>
                                    <a class="dropdown-item" href="#">Web</a>
                                    <a class="dropdown-item" href="#">Cloud</a>
                                </div>
                            </li>
                        </ul>
                        <div class="form-inline my-1 my-lg-0">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item dropdown active">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Account
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="login.html">Log-in</a>
                                        <a class="dropdown-item" href="register.html">Register</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="reset.html">Forgot password</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="hero centre-container hero-small">
        <div class="vertical-centre">
            <h1>Log in</h1>
        </div>
    </div>
    <div class="opencs-breadcrumbs">
        <div class="container">
            <div class="opencs-breadcrumbs-container">
                <p><a class="opencs-breadcrumb" href="index.html">Home</a> / <a class="opencs-breadcrumb"
                                                                                href="login.html">Log in</a></p>
            </div>
        </div>
    </div>